@import "../utils/variables";
@import "../base/typography";

.all__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange-color;
    padding: 20px;
    color: $light-color;
    gap: 6px;
    border: none;
    font-family: $header-fontFamily;
    width: 190px;
}