* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.container {
  width: 1350px;
  margin: 0 auto; }

.divCenter {
  display: flex;
  justify-content: center;
  align-items: center; }

header {
  border-bottom: 1px solid #d8d7d7;
  font-size: 16px;
  font-family: "Jost, sans-serif"; }
  header .container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header__menu ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center; }
    header .header__menu ul a {
      color: black; }
  header .header__menu i {
    font-size: 10px; }
  header .header__right {
    display: flex;
    align-items: center;
    gap: 16px; }
    header .header__right__user {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ff7c5b;
      color: white; }

.all__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7c5b;
  padding: 20px;
  color: white;
  gap: 6px;
  border: none;
  font-family: "Jost, sans-serif";
  width: 190px; }

.find__section {
  background-image: url("https://arid-html.vercel.app/main-file/dist/assets/images/hero/h4.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }
  .find__section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0px; }
  .find__section__btns {
    display: flex;
    gap: 14px;
    margin-top: 40px; }
    .find__section__btns__loc {
      padding: 10px;
      width: 280px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      background: transparent;
      color: white;
      border: 1px solid white; }
    .find__section__btns__date {
      padding: 10px;
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      background: transparent;
      color: white;
      border: 1px solid white; }
    .find__section__btns__type {
      padding: 10px;
      width: 260px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      background: transparent;
      color: white;
      border: 1px solid white; }
  .find__section__heading {
    color: white;
    text-align: center; }
    .find__section__heading p {
      font-family: "Jost, sans-serif";
      font-size: 22px; }
    .find__section__heading h1 {
      font-size: 76px;
      font-family: Poppins;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      text-shadow: rgba(255, 255, 255, 0.6) -2px 2px 30px; }

.pop__section .container {
  padding: 120px; }

.pop__section__head {
  display: flex;
  justify-content: space-between; }
  .pop__section__head__right {
    display: flex;
    gap: 40px; }
    .pop__section__head__right__l {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #ff7c5b;
      display: flex;
      align-items: center; }
      .pop__section__head__right__l i {
        position: absolute;
        right: -10px;
        font-size: 26px;
        color: #ff7c5b; }
    .pop__section__head__right__r {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #ff7c5b;
      display: flex;
      align-items: center; }
      .pop__section__head__right__r i {
        position: absolute;
        left: -10px;
        font-size: 26px;
        color: #ff7c5b; }

.pop__section__down {
  margin-top: 50px;
  display: flex;
  gap: 20px; }
  .pop__section__down__card__body {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .pop__section__down__card__body a {
      font-size: 22px;
      color: black;
      font-family: "Playfair Display, serif"; }
    .pop__section__down__card__body__content {
      display: flex;
      gap: 28px; }
