

.container{
    width: 1350px;
    margin: 0 auto;
}

.divCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

